<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/{{estilo}}" rel="stylesheet" type="text/css">
    <title>{{titulo}}</title>
</head>
<body>

    <div class="barra-inicial fundo-secundario">
        <div class="barra-inicial-container">
            <p class="slogan">Nós somos a Grifes &amp; Estilo. Uma loja completa.</p>
        </div>
    </div>

    <div class="conteiner-principal">
        {{!-- Cabeçalho --}}
    <header id="cabecalho">

        {{!-- Cabeçalho para dispositivos mobile --}}
        <div class="cabecalho-mobile">

        </div>

        {{!-- Cabeçalho Principal para a maioria dos dispositivos --}}
        <div class="conteiner cabecalho-conteiner">
            <div class="row-fluid">
                <div class="span3">
                    <div class="logo-secundaria">
                        <a href="/" title="Grifes & Estilo">
                            <img src="/images/logo.png" alt="Grifes & Estilo">
                        </a>
                    </div>
                </div>
                <div class="conteudo-top">
                    <div class="superior row-fluid hidden-phone">
                        <div class="span8">
                            <a href="/conta/login">
                            <div class="bem-vindo cor-secundaria menu-user-welcome">
                                
                            </div>
                            </a>
                        </div>
                    </div> 

                </div>
            </div>
            
        </div>

    </header>
    </div>

    {{!-- Para cobrir o plano de fundo --}}
    <div class="overlays"></div>

    {{!-- Mensagem pop-up na tela do usuário --}}
    <div class="show-error">
        <div class="error-show">
            <p id="error-msg"></p>
            <button id="error-close-btn">ok</button>
        </div>
    </div>

</body>
</html>