<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/{{estilo}}" rel="stylesheet" type="text/css">
    <title>{{titulo}}</title>
</head>
<body>

    {{!-- Cabeçalho --}}
    <header>

        {{!-- Cabeçalho para dispositivos mobile --}}
        <div class="cabecalho-mobile">

        </div>

        {{!-- Cabeçalho Principal para a maioria dos dispositivos --}}
        <div class="conteiner cabecalho-conteiner">
            <div class="row-fluid">
                <div class="span3">
                    <div class="logo-secundaria">
                        <a href="/" title="Grifes & Estilo">
                            <img src="/public/images/Logo - Puro.png" alt="Grifes & Estilo">
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

    </header>

    {{!-- Para cobrir o plano de fundo --}}
    <div class="overlays"></div>

    {{!-- Mensagem pop-up na tela do usuário --}}
    <div class="show-error">
        <div class="error-show">
            <p id="error-msg"></p>
            <button id="error-close-btn">ok</button>
        </div>
    </div>

</body>
</html>